/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.
https://github.com/dope/lemonade - Neat lightweight grid.


The grid below is a custom built thingy I modeled a bit after
Gridset. It's VERY basic and probably shouldn't be used on
your client projects. The idea is you learn how to roll your
own grids. It's better in the long run and allows you full control
over your project's layout.

******************************************************************/

@import "../../vendor/susy/sass/susy";
@import "../../vendor/compass-breakpoint/stylesheets/breakpoint";
$susy: (gutters: 0.1);

#container {
  @include container;
}

/*
Mobile Grid Styles
These are the widths for the mobile grid.
There are four types, but you can add or customize
them however you see fit.
*/


@include susy-breakpoint($grid-device-mobile, $grid-device-mobile-layout) {
  .m-all {
    @include span(4 of 4);
    @include last;
  }

  .m-1of2 {
    @include span(1 of 2);
  }

  .m-1of3 {
    @include span(1 of 3);
  }

  .m-2of3 {
    @include span(2 of 3);
  }

  .m-1of4 {
    @include span(1 of 4);
  }

  .m-3of4 {
    @include span(3 of 4);
  }
}


/* } // end mobile styles */

@include susy-breakpoint($grid-device-tablet, $grid-device-tablet-layout) {

  .t-all {
    @include span(5 of 5);
    @include last;
  }

  .t-1of2 {
    @include span(1 of 2);
  }

  .t-1of3 {
    @include span(1 of 3);
  }

  .t-2of3 {
    @include span(2 of 3);
  }

  .t-1of4 {
    @include span(1 of 4);
  }

  .t-3of4 {
    @include span(3 of 4);
  }

  .t-1of5 {
    @include span(1 of 5);
  }

  .t-2of5 {
    @include span(2 of 5);
  }

  .t-3of5 {
    @include span(3 of 5);
  }

  .t-4of5 {
    @include span(4 of 5);
  }

} // end tablet

@include susy-breakpoint($grid-device-desktop, $grid-device-desktop-layout) {

  .d-all  {
    @include span(12 of 12);
    @include last;
  }

  .d-1of2 {
    @include span(1 of 2);
  }

  .d-1of3 {
    @include span(1 of 3);
  }

  .d-2of3 {
    @include span(2 of 3);
  }

  .d-1of4 {
    @include span(1 of 4);
  }

  .d-3of4 {
    @include span(3 of 4);
  }

  .d-1of5 {
    @include span(1 of 5);
  }

  .d-2of5 {
    @include span(2 of 5);
  }

  .d-3of5 {
    @include span(3 of 5);
  }

  .d-4of5 {
    @include span(4 of 5);
  }

  .d-1of6 {
    @include span(1 of 6);
  }

  .d-1of7 {
    @include span(1 of 7);
  }

  .d-2of7 {
    @include span(2 of 7);
  }

  .d-3of7 {
    @include span(3 of 7);
  }

  .d-4of7 {
    @include span(4 of 7);
  }

  .d-5of7 {
    @include span(5 of 7);
  }

  .d-6of7 {
    @include span(6 of 7);
  }

  .d-1of8 {
    @include span(1 of 8);
  }

  .d-1of9 {
    @include span(1 of 9);
  }

  .d-1of10 {
    @include span(1 of 10);
  }

  .d-1of11 {
    @include span(1 of 11);
  }

  .d-1of12 {
    @include span(1 of 12);
  }

} // end desktop styles

// the last column
.last-col {
  @include last;
}
